@import "tailwindcss";

@theme inline {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: #f3f4f6;
  background-image: radial-gradient(circle at top right, #ffffff, #e5e7eb 100%);
  color: #000000;
}

/* Cursor Blinking Animation */
.cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Float Animation for Profile Picture */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

/* Hide scrollbar for carousel but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
